<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{10} %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.apache.cassandra.service.StartupChecks" level="ERROR"/>
	<logger name="org.apache.cassandra.db.SystemKeyspace" level="ERROR"/>

	<root level="WARN">
		<appender-ref ref="console"/>
	</root>
</configuration>