<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="true" scanPeriod="5 seconds">

	<statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{10} %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="kafka" level="WARN"/>
	<logger name="kafka.network.Processor" level="ERROR"/>
	<logger name="kafka.server.BrokerMetadataCheckpoint" level="ERROR"/>
	<logger name="org.apache.kafka" level="WARN"/>
	<logger name="org.apache.kafka.clients.NetworkClient" level="ERROR"/>
	<logger name="org.apache.kafka.common.utils.AppInfoParser" level="ERROR"/>
	<logger name="org.apache.zookeeper.ClientCnxn" level="ERROR"/>
	<logger name="org.apache.zookeeper" level="WARN"/>
	<logger name="org.apache.cassandra" level="WARN"/>
	<logger name="org.apache.cassandra.config.DatabaseDescriptor" level="ERROR"/>
	<logger name="org.apache.cassandra.service.StartupChecks" level="ERROR"/>
	<logger name="org.apache.cassandra.db.SystemKeyspace" level="ERROR"/>
	<!--<logger name="com.evolutiongaming.kafka.journal" level="DEBUG"/>-->
	<!--<logger name="com.evolutiongaming.kafka.journal.replicator.TopicReplicator" level="WARN"/>-->

	<root level="WARN">
		<appender-ref ref="console"/>
	</root>
</configuration>
