<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{10} %msg%n</pattern>
        </encoder>
    </appender>

    <!--
    Setting default level to WARN so we don't see Kafka-Journal, Cassandra driver and kafka-clients
    init messages polluting the logs and slowing down the integration tests.
    -->
    <root level="WARN">
        <appender-ref ref="console"/>
    </root>

    <!--
    recommended logback config for testcontainers:
    https://java.testcontainers.org/supported_docker_environment/logging_config/
    -->
    <logger name="org.testcontainers" level="INFO"/>
    <!-- The following logger can be used for containers logs since 1.18.0 -->
    <logger name="tc" level="INFO"/>
    <logger name="com.github.dockerjava" level="WARN"/>
    <logger name="com.github.dockerjava.zerodep.shaded.org.apache.hc.client5.http.wire" level="OFF"/>

    <!--
    Normal integration test lifecycle messages are logged at INFO.
    Lower to DEBUG if you want to see detailed int test run info, like timings for heavy operations,
    e.g. journal reads.
    -->
    <logger name="com.evolution.kafka.journal.it" level="INFO"/>

    <!--
    To remove log messages like this when new Kafka topics are created in tests:
    17:46:47.010 WARN  o.a.k.c.NetworkClient [Producer clientId=journal] The metadata response from the cluster
    reported a recoverable issue with correlation id 5 : {journal-integration-circe=UNKNOWN_TOPIC_OR_PARTITION}
    -->
    <logger name="org.apache.kafka.clients.NetworkClient" level="ERROR"/>
</configuration>
