name: CI

on: [push, pull_request]

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        scala:
          - 2.13.8
          - 2.12.15

    steps:
      - uses: actions/checkout@v3

      - uses: coursier/cache-action@v6

      - name: scala
        uses: olafurpg/setup-scala@v11
        with:
          java-version: 17

      - name: build ${{ matrix.scala }}
        run: sbt ++${{ matrix.scala }} clean coverage test

      - name: test coverage
        if: success()
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_FLAG_NAME: Scala ${{ matrix.scala }}
        run: sbt ++${{ matrix.scala }} coverageReport coverageAggregate coveralls

      - name: slack
        uses: homoluctus/slatify@master
        if: failure() && github.ref == 'refs/heads/master'
        with:
          type: ${{ job.status }}
          job_name: Build
          url: ${{ secrets.SLACK_WEBHOOK }}